
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Big+Shoulders+Display:wght@100..900&family=Big+Shoulders+Text:wght@700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@700&family=Manrope:wght@200..800&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Ms+Madi&family=Outfit:wght@600&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-fonts {
    font-family: "Quicksand", serif;
    font-weight: normal;
    font-style: normal;
  }
  
  .raleway {
    font-family: "Raleway", serif;
    font-style: normal;
  }
  /* seared style  */
  .d-flex{
    display: flex;
  }
  .primary-btn{
    padding: 10px 45px;
    background-color: #FEA301;
    border:none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #fff;

  }
  body{
    background-color: #f7f7f7;
  }
  /* header style  */

  header, main{
    max-width: 1200px;
    margin: 2rem auto;
  }

 
  .nabvar{
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    justify-content: center;
    align-items: center;
  }
  .brand{
    font-size: 2rem;
    font-weight: bold;
  }
  .nabvar ul {
    justify-content: center;
    gap: 30px;
  }
  .nabvar ul li {
    list-style: none;
    
  }
  .nabvar li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .home{
    color: #FEA301;
  }
  .about{
    color: #01ACFD;
  }
  .facalitis{
    color: #05D4DF;
  }
  .addmision{
    color: #5D58EF;
  }
  
  .menu-icon{
    display: none;
  }
  /* banner style  */
  .banner{
    justify-content: space-between;
    align-items: center;
 
  }
  .banner-content{
    padding-right:9rem;
  }
  .banner-content .banner-titel{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
  .Empowering{
    color: #FEA301;
  }
  .vision{
    color: #01ACFD;
  }
  .banner-content .banner-desc{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  .enroll-btn{
    background-color: #000;
  }
/* .curriculam section style  */
  .curriculam{
    background-image: url('../assets/bg.png');
    background-position: center;
    background-size:cover;
    margin: 6rem auto;
   

  }
  .section-titel{
    font-size: 2.8rem;
    text-align: center;
    margin: 8rem auto;
  
    
  }
  .card-container{
   justify-content: space-around;
   gap: 2rem; 
  }
  .card{
    padding:  3.5rem 2rem;
    text-align: center;
    border-radius: 1.2rem;
    box-shadow: 5px 5px 40px rgba(240, 239, 239, 0.545);
  }
  .card h3{
    font-size: 1.5rem;
  }
  .card-desc{
    font-size: 1rem;
    color: #808080; 
    font-weight: 600;
    line-height: 28.3px;
    margin-bottom: 3rem;

  }
  .card-btn{
    background-color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
  }
  .kidner-btn{
    color:#01adfdf6 ;
  }
  .elementor-btn{
    color:#fd9001f4;
  }
  .middle-btn{
    color:#01fd59f7 ;
  }
  .kidner{
    background-image: linear-gradient( #01adfd3d, #ffffff 40% );
    border: 1px solid #01adfd3c ;
  }
  .elementor{
    background-image: linear-gradient( #fd900129, #ffffff 40% );
    border: 1px solid #fd90014f;
  }
  .middle{
    background-image: linear-gradient( #01fd5927, #ffffff 40% );
    border: 1px solid #01fd5947;
  }

  .button-container{
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 6rem auto;
  }
  .btn-box{
    width: 60px;
    height: 60px;
    background-color: #FEA301;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .btn-box i{
    font-size: 2.5rem;
    color: #fff;
  }

  /* stories style  */

  .box-right{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }
 /* mobail devices for responsive  */


  @media screen and (max-width:576px){
    body{
      margin: 0 1rem;
    }
    .nabvar{
      padding-bottom: 1rem;
      border-bottom: 1px solid #FEA301;
    }
    .nabvar ul,
     .brand,
     .contact-btn
    {
      display: none;

    }
    .menu-icon{
      display: block;
      font-size: 2rem;
    }
    .banner{
      flex-direction: column-reverse;
    }
    
    .banner-content{
      text-align: center;
      padding: 0px;
      margin: 0 auto;
    }
    .banner-content .banner-titel{
      font-size: 2rem;
    }
    .banner-desc{
      font-size: 14px;
    }
    .banner-imge img{
      width: 100%;
  
    }
    .curriculam{
      margin: 1rem 0;
    }

    .card-container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
    }
    .button-container{
      display: none;
    }
    .section-titel{
      font-size: 1.7rem;
      margin: 3rem 0;
    }
    .card{
      padding: 3rem;
    }
    .card h3{
      font-size: 1rem;
      margin: 2rem auto;
    }
    .card-desc{
      font-size: 0.8rem;
    }
  }